{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Cases</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      {{ govukButton({
        text: "Add new",
        href: "/add-case",
        isStartButton: true
      }) }}
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form action="/search-case" method="GET" class="govuk-form-group">
        <div class="govuk-form-group">
          <label class="govuk-label" for="caseNumber">Case Number:</label>
          <input class="govuk-input" id="caseNumber" name="caseNumber" type="number">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="title">Title:</label>
          <input class="govuk-input" id="title" name="title" type="text">
        </div>
        <br>
        <div class="govuk-button-group">
          <button class="govuk-button" type="submit">Search Case</button>
          <a class="govuk-button govuk-button--secondary" href="/">Reset</a>
        </div>
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds">

      {% if cases.length > 0 %}
        {% set allCasesRows = [] %}
        {% for case in cases %}
          {% set allCasesRows = (allCasesRows.push([
            { text: case.caseNumber },
            { text: case.title },
            { text: case.description },
            { text: dateToFormat(case.createdDate) },
            {
              html: "<a href=\"/case/" + case.id + "\">View</a> " +
              "<a href=\"/delete-case/" + case.id + "\">Delete</a>"
            }
          ]), allCasesRows) %}
        {% endfor %}
        {{ govukTable({
          head: [
            { text: "Case Number" },
            { text: "Title" },
            { text: "Description" },
            { text: "Created Date" },
            { text: "Actions" }
          ],
          rows: allCasesRows
        }) }}
      {% else %}
        <p class="govuk-body">No cases available.</p>
      {% endif %}
    </div>
  </div>


{% endblock %}
